* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.12s cubic-bezier(0.42, 0.54, 0.22, 1.26);
}

html {
    /* This 62.5% makes 1rem = 10px */
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.landing-page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.home-nav {
    top: 0;
    left: 0;
    z-index: 10;
    position: absolute;
    width: 100%;
    padding: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

.logo {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
}

.logo h1 {
    color: white;
    font-size: 2rem;
}

.nav-items {
    width: 40vw;
    display: flex;
    justify-content: space-between;
}

.nav-items h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    position: relative;
}

.nav-items h1:hover {
    cursor: pointer;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.51);
}

.landing-content {
    z-index: 10;
    position: absolute;
    bottom: 8rem;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    transition: ease-in;
    transition-duration: 50ms;
}

.landing-content h1 {
    color: white;
    font-size: 6rem;
    text-align: center;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.51);
}

#start-page {
    z-index: 100;
    background-color: black;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-weight: 600;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300,
            #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}